#logo {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 480px;
  }
  
  body {
    background-color: #fdfdea;
  }
  
  #movie-box {
    background-color: rgb(254, 208, 200);
  }
  
  #review-box {
    background-color: #ffd9ba;
  }
  
  #review-box p {
    margin-left: 12px;
    margin-right: 10px;
  }
  
  
  
  
  
  